<main>
    <h1 class="block pl-2">Groupes</h1>
    <!-- Options block -->
    <div class="card optionsBlock">
        <div class="card-body">
            <div class="row">
                <h5 class="card-title pl-2">Tous ({{ nbs }})</h5>
                <form class="form-inline my-2 my-lg-0 searchBar">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div><br>



            <a href="#" class="btn btn-primary btn-sm btnSetting">Ajouter un groupe</a>
            <a href="#" class="btn btn-primary btn-sm btnSetting">Modifier le groupe</a>
            <a href="#" class="btn btn-primary btn-sm btnSetting">Supprimer le groupe</a>
        </div>
    </div>

    <!-- Tableaux -->
    <div class="card cardTable">
        <div class="card-body">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">nb sous groupe</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                        <tr>
                            <th scope="row"><input type="checkbox" class="form-check-input" id="{{ group.id}}"></th>
                            <td>{{ group.nom}}</td>
                            <td>{{ group.child}}</td>
                            <td>{{ group.date}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>